// Bing in colors
@use "../abstracts/colors" as *;

.cta {
  display: flex;
  margin-bottom: 35px;
  position: relative;

  &-background-img {
    height: 240px;
    position: absolute;
    left: 1130px;
    top: 0;
    width: 255px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    margin-right: 132px;
    padding-top: 80px;
    width: 445px;

    h1 {
      color: $color-blue-900;
      font-size: 56px;
      font-weight: 900;
      font-style: normal;
      line-height: 56px;
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 40px;
    }
  }

  &-links {

    &-release-date {
      font-style: normal;
      font-weight: bold;
      margin-left: 40px;
    }
  }

  &-image {
    border-radius: 20px;
    max-height: 480px;
    max-width: 540px;
    overflow: hidden;
  }
}