@use "../abstracts/colors" as *;

.btn {
  border: 0;
  border-radius: 8px;
  color: $color-white;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  max-width: 175px;
  padding: 16px 26px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s linear;

  &-blue {
    background-color: $color-blue-100;
    color: $color-blue-900;

    &:hover {
      background-color: $color-blue-900;
      color: $color-white;
    }
  }

  &-orange {
    background-color: $color-orange-900;

    &:hover {
      background-color: $color-orange-400;
    }
  }
}